<body class="configurarJuego">
@{
    ViewData["Title"] = "Configurar Juego";
}

<div class="configuracion">
    <h2>Configurar Juego</h2>

    <form action='@Url.Action("Comenzar")' method="POST" id="Configuracion">

        <div class="opciones">
            <fieldset class="dificultad">
                <legend>Dificultad:</legend>
                <div>
                    <input type="radio" name="Dificultad" value="-1" id="dif_todas" required />
                    <label for="dif_todas">Todas las dificultades</label>
                </div>
                @foreach(var dificultad in ViewBag.Dificultades)
                {
                    <div>
                        <input type="radio" name="Dificultad" value="@dificultad.IDdificultad" id="dif_@dificultad.IDdificultad" required />
                        <label for="dif_@dificultad.IDdificultad">@dificultad.Nombre</label>
                    </div>
                }
            </fieldset>

            <fieldset class="categoria">
                <legend>Categoría:</legend>
                <div>
                    <input type="radio" name="Categoria" value="-1" id="cat_todas" required />
                    <label for="cat_todas">Todas las categorías</label>
                </div>
                @foreach(var categoria in ViewBag.Categorias)
                {
                    <div>
                        <input type="radio" name="Categoria" value="@categoria.IDcategoria" id="cat_@categoria.IDcategoria" required />
                        <label for="cat_@categoria.IDcategoria">@categoria.Nombre</label>
                    </div>
                }
            </fieldset>
        </div>

        <div>
            <label for="User">Nombre de usuario:</label>
            <input type="text" name="User" required id="User" placeholder="Ingrese su username" />
        </div>

        <button class="boton" type="submit">Comenzar Juego</button>
    </form>
</div>
</body>
