<body>
@{
    ViewData["Title"] = "Jugar";
}
<h1>@ViewBag.puntaje</h1>
<div class="text-center">
    
    <h3>@ViewBag.preguntaActual.Enunciado</h3>

    <form action='@Url.Action("VerificarRespuesta")' method="POST">
        @foreach(var respuesta in ViewBag.proximasRespuestas)
        {
            <div class="form-check">
                <input class="form-check-input" type="radio" name="idRespuesta" value="@respuesta.IDrespuesta" id="respuesta_@respuesta.IDrespuesta" required>
                <label class="form-check-label" for="respuesta_@respuesta.IDrespuesta">
                    @respuesta.Contenido
                </label>
            </div>
        }
        <button type="submit" class="btn btn-primary mt-3">Responder</button>
    </form>
</div>
</body>